<!-- Site footer -->

<!-- faking forum channels, room to add this feature later -->
<% forum_channels = ["Seeking advice on Jeweley", "Cleaning and maintaining", "How to ensure you order correct parts", "Looking for the correct Gem", "Help - looking for guidance on a new piece"]%>
<!-- faking blogs, room to add this feature later -->
<% blogs = ["A year in the life", "How to safely clean that heirloom", "Why choosing the right hardware is important", "How to take envoke change", "Future styles"]%>





<footer class="site-footer" >
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <h6>About</h6>
        <p class="text-justify"><i>AN E-COMMERSE SITE BUILT WITH RUBY ON RAILS </i> A web application for purchasing and selling Jewelery. The app uses Devise to handle users, Stripe for payments, AWS for image storage when creating items and recaptcha for the contact form - using a generic Gmail account to handle the email</p>
      </div>
      <div class="col-xs-6 col-lg-3">
        <h6>Forum channels</h6>
        <ul class="footer-links">
          <% forum_channels.map do |thread| %>
            <li><%= link_to "#{thread.truncate_words(5)}", root_path %></li>
          <% end %>
          <h6>Latest Blogs</h6>
            <% blogs.map do |blog| %>
              <li><%= link_to "#{blog.truncate_words(5)}", root_path %></li>
            <% end %>
        </ul>
      </div>
      <div class="col-xs-6 col-lg-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><%= link_to "Home Page", root_path %></li>
          <li><%= link_to "Contact us", contact_path %></li>
          <li><%= link_to "About us", about_us_path %></li>
          <li><%= link_to "View all testomonials", testomonials_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Environmental Policy", environmental_path %></li>
          <li><%= link_to "Terms of use", terms_of_use_path %></li>
          <li><%= link_to "Cookie policy", cookies_path %></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="container footer-padding">
    <div class="row">
      <div class="col-lg-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 <br>All Rights Reserved by Lorenzo.
     <!-- <a href="#">Scanfcode</a>. -->
        </p>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <%= mail_to "weigheasy2022@gmail.com" do %><i class="fa fa-envelope"></i><% end %>
          <li><a class="facebook" href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="whatsapp" href="#" target="blank"><i class="fa fa-whatsapp"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


