<!-- ?navbar for screens wider than 770px -->
<div class="nav-wrapper">
  <div class="nav-container d-none d-lg-block">
    <nav>
      <a href="https://designed-by-bond.herokuapp.com">
        <img alt="DBB" src="https://res.cloudinary.com/dk6tfvphu/image/upload/v1655745750/cb_dgbhpv.jpg" style="width: 150px; height:60px; margin-top: 5px; margin-bottom: 5px;">
      </a>
      <!-- below lines are for meilisearch - which doesn't work in production on heroku -->
      <!--
      </% if current_page?(items_path) %>
        <form class="d-flex">
          </%= form_with url: items_path, method: :get do |form| %>
            </%= form.search_field :query, class: "form-control me-2", type: "search", placeholder: "Search" %>
            </%= form.button "Search", class: "btn btn-outline-success", type: "submit" %>
          </% end %>
        </form>
      </% end %> -->

          <ul>
            <% if total_cart_items %>
              <%= link_to cart_path(@cart), class:"navbar-item button is-warning" do %>
              <span class="icon is-small">
                <i class="fa fa-shopping-cart"></i>
              </span>
              <span>Cart
                <%= cart_count_over_one %>
                </span>
              <% end %>
            <% end %>
            <% unless user_signed_in? %>
              <li><%= link_to "Login", new_user_session_path%></li>
              <li><%= link_to "Sign Up", new_user_registration_path%></li>
              <% else %>
              <!-- </%= link_to "ADMIN", admin_path, id: "admin_tag", class: "brand" if current_user.admin? %> -->
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Items", items_path %></li>
              <div class="avatar-container">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- </%= image_tag current_user.avatar_thumbnail, class: "avatar", alt: "avatar" %> -->
                    <%= image_tag "avatar.png", class: "avatar", alt: "avatar" %>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <!-- <li><a></%= link_to "Profile", profile_path, class: "dropdown-item" %></a></li> -->
                    <li><a><%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %></a></li>
                    <li><a><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item"%></a></li>
                  </ul>
                </li>
              </div>
            <% end %>
          </ul>
      </nav>
  </div>
</div>
