<div class="container pt-3 pb-3">
  <div class="card">
    <div class="card-header">
      <h2>Log in</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3">
          <% f.label :email %><br />
          <%= f.email_field :email, placeholder: "name@email.com", autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field mb-3">
          <% f.label :password %><br />
          <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-3 form-check">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
