
<div class="columns">
  <div class="column is-8 is-centered">

    <%= simple_form_for @item, html: { multipart: true } do |f| %>
      <%= f.error_notification %>
       <div class="columns">
        <div class="field column">
          <div class="control">
            <%= f.input :title , required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>

      </div>

      <div class="columns">
        <div class="field column is-6">
          <div class="control">
            <%= f.input :price, required: true, input_html: { class:"input", maxlength: 7  }, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>
        <div class="field column">
          <div class="control">
            <%= f.input :product_code , required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>
      </div>



      <div class="field">
        <div class="control">
          <%= f.input :description, required: true, input_html: { class:"textarea" }, wrapper: false, label_html: { class:"label" } %>
        </div>
      </div>
      <div class="columns">

        <div class="field column is-4">
          <div class="control">
            <%= f.input :quantity_available, required: true, input_html: { class:"input", maxlength: 7  }, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>

        <div class="field column is-4">
          <div class="control">
            <label class="label">Brand</label>
            <div class="control has-icons-left">
              <span class="select">
                <%= f.input_field :brand, collection: Item::BRAND, prompt: "Select brand" %>
              </span>
              <span class="icon is-small is-left">
                <i class="fa fa-tag"></i>
              </span>
            </div>
          </div>
        </div>
      </div>





      <div class="field">
        <div class="control">
          <label class="label">Add images</label>
            <div class="file">
            <label class="file-label">
              <%= f.input :image, as: :file, input_html: { class:"file-input item-image" }, label: false, wrapper: false  %>
                <span class="file-cta">
                  <span class="file-icon"><i class="fa fa-upload"></i></span>
                  <span class="file-label">Choose a file…</span>
                </span>
            </label>
            </div>
          </div>
        </div>
        <output id="list"></output>
      <hr />

      <div class="field is-grouped">
        <div class="control">
          <%= f.button :submit, class: 'button is-warning' %>
          <%= link_to 'Cancel', items_path, class:'button is-light' %>
        </div>
      </div>

    <% end %>
</div>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {

    var instrumentImage = document.querySelector('.item-image');

    function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object

      // Loop through the FileList and render image files as thumbnails.
      for (var i = 0, f; f = files[i]; i++) {

        // Only process image files.
        if (!f.type.match('image.*')) {
          continue;
        }

        var reader = new FileReader();

        // Closure to capture the file information.
        reader.onload = (function(theFile) {
          return function(e) {
            // Render thumbnail.
            var span = document.createElement('span');
            span.innerHTML = ['<img class="item-preview-thumb" src="', e.target.result,
              '" title="', escape(theFile.name), '"/>'
            ].join('');
            document.getElementById('list').insertBefore(span, null);
          };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
      }
    }

    if (instrumentImage) {
      this.addEventListener('change', handleFileSelect, false);
    }

  });
</script>
