<h2 class="section-title pt-3">Browse by Items</h2>
<div class="media-scroller snaps-inline">
  <%= link_to items_path do %>
    <div class="media-element">
        <img src="https://images.unsplash.com/photo-1534190239940-9ba8944ea261?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="tools">
        <p class="title">All itmes</p>
    </div>
  <% end %>
  <%= link_to items_path do %>
    <div class="media-element">
      <img src="https://images.unsplash.com/photo-1550897991-cc952b309ac0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="Engine">
      <p class="title">Engines</p>
    </div>
  <% end %>
  <%= link_to items_path do %>
    <div class="media-element">
      <img src="https://images.unsplash.com/photo-1605701249987-f0bb9b505d06?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="Nuts and bolts">
      <p class="title">Hardware</p>
    </div>
  <% end %>
  <%= link_to items_path do %>
    <div class="media-element">
      <img src="https://images.unsplash.com/photo-1590227763209-821c686b932f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="Oils">
      <p class="title">Lubricants</p>
    </div>
  <% end %>
  <%= link_to items_path do %>
    <div class="media-element">
      <img src="https://images.unsplash.com/photo-1484239398315-f1681ef72fe6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="Merchandise">
      <p class="title">Merchandise</p>
    </div>
  <% end %>
  <%= link_to items_path do %>
    <div class="media-element">
      <img src="https://images.unsplash.com/photo-1620287341401-e2945a4b9daa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="Contact">
      <p class="title">Contact us</p>
    </div>
  <% end %>
</div>
