<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Review rating:</strong>
  <%= @item.review_rating %>
</p>

<p>
  <strong>Review count:</strong>
  <%= @item.review_count %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @item.product_code %>
</p>

<% if @item.quantity_available == "0" %>
  <p>
    <strong>Availability:</strong>
    <%= @item.availability = "No stock" %>
  </p>
  <% else %>
  <p>
    <strong>Availability:</strong>
    <%= @item.availability = "In stock" %>
  </p>
  <p>
    <strong>Quantity available:</strong>
    <%= @item.quantity_available %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
