<% content_for :body_class, 'bg-grey' %>
<div class="show_page">
  <section class="section item-show">
    <div class="columns">
      <div class="column is-8">
        <h1 class="title is-2"><%= @item.title %></h1>
        <div class="row ps-5"><div class="col-2">Product code:</div><div class="col-2"><%= @item.product_code %></div></div>
        <div class="row ps-5"><div class="col-2">Reviews: </div><div class="col-2"><%= @item.review_count %></div></div>
        <div class="row ps-5 pb-5">
          <div class="col-2">Review Rating:</div>
          <div class="col-2">
            <div class="star_rating">
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
            </div>
          </div>
        </div>
        <script>
          var ratings = {
            star_rating : <%= @item.review_rating %>,
          };
          // total number of stars
          var starTotal = 5;
          for(var rating in ratings) {
            var starPercentage = (ratings[rating] / starTotal) * 100;
            var starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
            document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;
          }
        </script>
        <div class="feature-image">
          <%= image_tag(@item.image_url(:default)) %>
        </div>
        <div class="content pa4 mt3 bg-white border-radius-3">
        <h3 class="subtitle is-4">Description</h3>
        <%= @item.description %>
        <h3 class="subtitle is-4 pt5">Product Specs</h3>
        <table class="table is-narrow">
          <% if @item.product_code %>
          <tr>
            <td class="has-text-weight-bold">Product code:</td>
            <td><%= @item.product_code %></td>
          </tr>
          <% end %>
          <% if @item.availability %>
            <tr>
              <td class="has-text-weight-bold">Availability:</td>
              <td><%= product_availability(@item) %></td>
            </tr>
          <% end %>
          <% if @item.availability != "0" %>
            <tr>
              <td class="has-text-weight-bold">Amount in stock:</td>
              <td><%= @item.quantity_available %></td>
            </tr>
          <% end %>
          <% if @item.price %>
            <tr>
              <td class="has-text-weight-bold">Price:</td>
              <td><%= number_to_currency(@item.price) %></td>
            </tr>
          <% end %>
          <tr>
            <td class="has-text-weight-bold">Brand:</td>
            <td><%= @item.brand %></td>
          </tr>
        </table>
      </div>
      </div>
      <div class="column is-3 is-offset-1">
        <div class="bg-white pa4 border-radius-3">
          <h4 class="title is-5 has-text-centered"><%= number_to_currency(@item.price) %></h4>
          <p class="has-text-centered mb4">Sold by <%= @item.user.first_name %> <%= @item.user.last_name %></p>
          <% if @item.quantity_available == "0" %>
            <%= link_to 'None in stock', items_path, class: 'button is-warning add-to-cart', style: "width: 100%;" %>
          <% elsif user_signed_in? %>
            <%= button_to 'Add to cart', line_items_path(item_id: @item), class: 'button is-warning add-to-cart', style: "width: 100%;" %>
          <% else %>
            <%= link_to "Sign Up/Log in to add", new_user_registration_path, class: 'button is-warning add-to-cart', style: "width: 100%;" %>
          <% end %>
        </div>
      </div>
    </div>
    <% if allowed_to_edit(@item) %>
      <%= link_to 'Edit', edit_item_path(@item), class: 'button' %>
    <% end %>
  </section>
</div>


