<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Review rating:</strong>
  <%= @item.review_rating %>
</p>

<p>
  <strong>Review count:</strong>
  <%= @item.review_count %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @item.product_code %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @item.availability %>
</p>

<p>
  <strong>Quantity available:</strong>
  <%= @item.quantity_available %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
