<!DOCTYPE html>
<html>
  <head>
    <title>SES-Marketplace</title>
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon', type: "images/x-icon" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
    <%= render "shared/responsive_navbar" %>

    <% if current_page?(root_path) %>
    <%= render "shared/banner_homepage" %>

    <%= yield %>

    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>

    <%= render "shared/contact_form" if current_page?(root_path) %>
    <%= render "shared/testomonials" if current_page?(root_path) %>
    <%= render "shared/footer" %>
  </body>
</html>


